.gallery-page .nav-tabs .nav-link {
    color: #495057;
}

.gallery-page .nav-tabs .nav-link.active {
    color: #0d6efd;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.video-responsive {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}